:root, body {
    padding: 0px;
    margin: 0px;

    --black: #000000;
    --white: #FEFEFC;
    --gold: #ffd700;
    --light-green: #9CA193;
    --green: #818D74;
    --dark-green: #555944;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Body */
body {
    background-color: black;

    display: grid;
    grid-template-rows: 150px calc(100vh - 150px) 150px;
}

#background-img {
    width: 75vw;
    /* height: 120vh; */
    display: block;
    position: fixed;
    z-index: -1;
    left: 12.5%;
    top: -10%;
}

#background-tint {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

header .title {
    color: white;
    font-weight: normal;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}

header nav {
    display: flex;
    column-gap: 16px;
}

header nav .nav-link {
    color: var(--white);
    font-size: 30px;
    text-decoration: none;
}

header nav .nav-link:hover {
    color: var(--gold);
}

header nav .current-page {
    text-decoration: underline;
}

/* Content */

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .slide-show .slide-container {
    position: relative;
}

/* hide slides by default */
#content .slide-show .slide-container .slide {
    display: none;
}

#content .slide-show .slide-container .slide {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    border: 5px var(--black) solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Next and previous buttons */
#content .slide-show .slide-container .arrow {
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Next arrow positioning to right of slides*/
#content .slide-show .slide-container .next {
    right: 5px;
    border-radius: 3px 0 0 3px;
}

/* Prev arrow positioning to left of slides*/
#content .slide-show .slide-container .prev {
    left: 5px;
}

#content .slide-show .slide-container .arrow:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Footer */

footer .title {
    color: var(--white);
    font-size: 1.5rem;
}

footer .text {
    color: var(--white);
    font-size: 1rem;
}

footer p {
    padding: 0px;
    margin: 0px;
}

footer button {
    cursor: pointer;
}

footer .social-container {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
}

footer button.social {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button.social:hover {
    background-color: black;
}

footer button.social img {
    width: 30px;
    height: 30px;
}

footer .restaurant {
    background-color: var(--green);
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

footer .restaurant .text {
    padding-left: 8px;
}

footer .restaurant ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

footer .restaurant .newsletter-container button {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-radius: 8px;
    display: block;
    justify-self: center;
    width: 100px;
    height: 30px;
    font-size: 1em;
    margin-left: 40px;
    margin-top: 8px;
}

footer .restaurant .newsletter-container input[type="email"] {
    border-radius: 8px;
    font-size: 1em;
}

footer .restaurant .newsletter-container button:hover {
    background-color: rgba(255, 255, 255, 1);
}

footer .github-footer {
    background-color: var(--light-green);
    padding: 8px 0px;
    display: flex;
    column-gap: 8px;
    justify-content: center;
    align-items: center;
}

footer .github-footer .text {
    font-size: 1.5em;
}