.menu-page {
    display: grid !important; 
    /* grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
        "burger burger pizza pizza fries fries"
        "drinks drinks drinks iceCream iceCream iceCream";
    width: 60%;
    justify-self: center;
}

.menu-page .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-page .burger {
    grid-area: burger;
}

.menu-page .pizza {
    grid-area: pizza;
}

.menu-page .fries {
    grid-area: fries;
}

.menu-page .drinks {
    grid-area: drinks;
    margin-left: 75px;
}

.menu-page .ice-cream {
    grid-area: iceCream;
    margin-right: 75px;
}

.menu-page .item-container .img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px var(--black) solid;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-page .item-container .text {
    color: var(--white);
    text-align: center;
    font-size: 36px;
    margin: 0px;
}

/* Modal */
.menu-modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--tint);

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.menu-modal .menu-modal-content {
    padding: 16px;
    color: var(--white);
    background-color: var(--light-green);
    border: 5px var(--green) solid;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

.menu-modal .menu-modal-content .exit-div {
    display: grid;
}

.menu-modal .menu-modal-content .exit {
    font-size: 24px;
    color: black;
    margin: 0px;
    justify-self: right;
    cursor: pointer;
}

.menu-modal .menu-modal-content .exit:hover {
    color: red;
}

.menu-modal .menu-modal-content .title {
    font-size: 36px;
    margin: 0px;
}

.menu-modal .menu-modal-content li {
    font-size: 24px;
    list-style: none;
    padding: 0px;
}